.app{
    display: flex;
    flex-direction: column;
}

.navBar{
    display: flex;
    flex-direction: row;
    height: 8vh;
    width: 100vw;
    background-color: blue;
    justify-content: right;
}

.title{
    margin-top: 1vw;
    margin-right: 40vw;
    font-size: xx-large;
}

.button{
    margin-top: 1.5vw;
    margin-right: 1vw;
}

body{
    margin: 0;
    background-color: green;
}