.backSection{
    margin-bottom: 0.5vw;
    background-color: #363636;
    padding-right: 1vw;
    padding-left: 1vw;
    padding-bottom: 1vw;
}

.backSection input{
    margin: 1vw;
    height: 3vw;
    margin-right: 0;
    width: 40vw;
    text-align: center;
    margin: 0;
    margin-top: 1vw;
}

.backSection button{
    width: 3vw;
    height: 3vw;
    margin: 0;
    margin-top: 1vw;
}

.scrollContainer li{
    background-color: #525252;
}

.scrollContainer li:hover{
    background-color: white;
    color: black;
}

.inputAndButtons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50vw;
}

.scrollContainer{
    margin-top: 0.1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scroll{
    margin-top: 0;
    max-height: 10vh;
    overflow-y: auto;
    width: 96%;
}

