.inputButtonBox input{
    width: 40vw;
    height: 2vw;
    text-align: center;
    margin: 0;
}

.inputBoxAndSelection{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(114, 114, 114);
}

.inputBoxAndSelection .selection{
    color: black;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0.5vw;
    padding: 0.2vw;
    justify-content: center;
    background-color: rgb(153, 153, 153);
    margin-top: 0.2vh;
    margin-bottom: 0.1vh;
    cursor: pointer;
}

.inputBoxAndSelection .selection:hover{
    background-color: white;
}

.inputButtonBox button{
    width: 2vw;
    height: 2vw;
    margin: 0;
    margin-left: 0.8vw;
}

.backSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5vw;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.5vw;
}

.inputButtonBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1vw;
}
