.dropdownContainer{
    position: relative;
    margin-top: 0.25vw;
    margin-left: 2vw;
}

.dropdown{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: fit-content;
    background-color: black;
}

.navButton{
    background-color: white;
    padding: 1vw;
    width: 10vw;
}

.section{
    background-color: white;
    padding: 0.5vw;
    height: 2vh;
    width: 10vw;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    cursor: pointer;
}

.slide .section{
    height: 1vh;
    width: 8vw;
}

a{
    background-color: white;
    text-decoration: none;
    color: inherit;
}

a:hover{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

a:active{
    background-color: #ffffff;
    color: #e0e0e0;
}