html,

#ifsc {
    background-image: url('./imgs/ifsc.jpeg');
}

#ufsc {
    background-image: url('./imgs/ufsc.jpg');
}

#prog {
    background-image: url('./imgs/prog.jpg');
}

#damas {
    background-image: url('./imgs/damas.webp');
}

#gaming {
    background-image: url('imgs/gaming.jpg');
}

#family {
    background-image: url('imgs/family.jpeg');
}

body {
    margin: 0;
    background-color: #273b44;
}

.navimage {
    width: 100%;
    height: 95%;
}

.navbutton{
    margin-top: 10%;
    margin-bottom: 10%;
}

.sideBarMainContentContainer{
    display: flex;
}


.top{
    display: flex;
    flex: 3;
    max-width: 86%;
    align-items: center;
    margin-left: 1%;
    box-sizing: border-box;
}

.titleBracket{
    justify-content: right;
    flex: 1;
    color: #F0EBD8;
    font-size: 160%;
}

.titleLinks{
    justify-content: right; 
    display: flex;
    gap: 10%;
    width: 12%;
}   

.titleLinks img{
    width: 100%;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

li button {
    display: contents;
}

.sidebar {
    z-index: 9;
    display: flex;
    flex-direction: column;
    position: fixed;
    max-width: 8vh;
    background-color: #0A0908;
    height: 100%;
    align-items: center;
    left: 0%;
    padding-top:10%;
    top:-10%;
}

.navbar{
    z-index: 10;
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    background-color: #0A0908;
    color: #F0EBD8;
    min-height:10%;
    top: 0%;
    left: 0%;
    right: 0%;
    font-size: 110%;
    font-family: Consolas;
    gap: 0;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100svh;
    padding: 0;
    margin: 0;
}

section h2 {
    color: #F0EBD8;
    list-style-type: none;
    width: 60%;
    text-align: left;
    margin-top: 30svh;
    font-size: 4.5em;
    z-index: 9;
    font-family: 'Montserrat';
}

section ul {
    list-style-type: none;
    width: 61.5%;
    font-family: Helvetica;
    margin-top: 0%;
    z-index: 9;
}

section li {
    margin-bottom: 1%;
}

section button {
    color: #F0EBD8;
    font-size: 150%;
    text-align: left;
    width: 100%;
}

#filterOverlay {
    display: flex;
    position: fixed;
    background-color: #22333B;
    width: 100%;
    height: 100%;
    opacity: 70%;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-left: 27.5vh;
}

.overlay {
    border-radius: 1%;
    border-style: solid;
    border-color: #F0EBD8;
    top: 22.5%;
    left: 25%;
    width: 50%;
    height: 60%;
    background-color: #22333B;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 11;
    resize: none;
    position: fixed;
}

.overlay-content hr{
    width: 50%;
    border-color: #F0EBD8;
}

.overlay-content button {
    position: absolute;
    top: 2.6655%;
    right: 0%;
    opacity: 20%;
}

.overlay-content button img{
    width: 50%;
}

.overlay-content button:hover {
    opacity: 100%;
}

.overlay-content h2 {
    text-align: center; 
    width: 90%;
    margin-left: 5%;
    font-size: 260%;
    z-index: 8;
    color: #F0EBD8;
    font-family: 'Montserrat';
}

.overlay-content p {
    text-align: center;
    height: 0%;
    width: 90%;
    font-family: Helvetica;
    font-size: 150%;
    margin: 2% 0% 0% 5%;
    color: #F0EBD8;
}

.overlay-contentText{
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 40%;
    left: 25%;
    width: 50%;
    z-index: 11;
    overflow-y: auto;
}

.overlay img {
    top: 28%;
    right: 24.5%;
}

#overlay2 .overlay-contentText{
    padding-top: 4%;
}

.copied {
    display: none;
    position: fixed;
    top: 80%;
    left: 40%;
    background-color: #22333B;
    color: #F0EBD8;
    padding: 0% 2%;
    z-index: 10;
    font-family: Consolas;
    font-size: 140%;
}

@media only screen and (min-width: 0px) and (max-width: 1280px){
    .top h1{
        font-size: 100%;
    }

    .sidebar {
        max-width: 10vh;
        height: 100%;
        align-items: center;
        left: 0%;
        top:5%;
    }
    
    .navbar{
        text-align: center;
        justify-content: center;
        padding-left: 3%;
        font-size: 140%;
    }
    
    .parallax{
        margin-left: 5vh;
    }
    section h2 {
        font-size: 170%;
    }
    
    section li {
        font-size: 70%;
    }

    .titleLinks{
        z-index: 99999999999;
        margin-left: 0%;
        justify-content: end; 
        margin-top: 10%;
        gap: 0%;

        display: flex;
        flex-direction: column;
        position: fixed;
        bottom:0;
        max-width: 10vh;
        left: 0%;
    }

    .titleLinks img{
        width: 8vh;
    }

    .overlay-content h2 {
        font-size: 130%;
    }
    
    .overlay-content p {
        font-size: 100%;
    }

    #overlay1 p{
        font-size: 90%;
    }

    #overlay2 p{
        font-size: 70%;
    }

    #overlay2 .overlay-contentText{
        padding-top: 20%;
    }

    #overlay4 p{
        font-size: 70%;
    }

    #overlay4 .overlay-contentText{
        padding-top: 20%;
    }

    .overlay-content button {
        right:-5%;
        top:1%;
        width: 20%;
    }
    
    }