.artistsSheetBody{
    background-color: gray;
    width: 80%;
    min-height: 92vh;
    margin-left: 10%;
    justify-items: center;
}

.artistSheetCard{
    margin-top: 5%;
    min-width: 90%;
    min-height: 60vh;
    background-color: orange;
    padding:15px;
}