.announcement{
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 6vh;
    background-color: rgb(63, 63, 139);
    border: 2rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    opacity: 80%;
}

.announcement span{
    color: white;
    margin: 3rem;
    margin-top: 1rem;
}
