html, body {
  margin: 0;
}

#root{
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#root {
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

#root::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.button{
  background-color: #ececec;
  color: #252525;
  cursor: pointer;
}

button:hover{
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

button:active{
  background-color: #ffffff;
  color: #e0e0e0;
}