.layout{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: gray;
}

.cabecalho a {
    background-color: crimson;
    padding: 5px 8px;
    border-radius: 5px;
}

.cabecalho h1 {
    margin: 0;
    font-size: 1.4rem;
}

.conteudo{
    margin: 16px;
    padding: 16px;
    background-color: purple;
    height: 100%;
}