html,

body {
    margin: 0;
    background-color: #54657a;
}

.navimage {
    width: 100%;
    height: 95%;
}

.navbar{
    z-index: 999999999999999999999999999999999999999;
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    background-color: #000000;
    color: #F0EBD8;
    height: 10%;
    top: 0%;
    left: 0%;
    right: 0%;
    font-size: 110%;
    font-family: Consolas;
    gap: 0;
}

.top{
    display: flex;
    flex: 3;
    max-width: 82.5%;
    margin-left: 2.5%;
    box-sizing: border-box;
}

.titleBracket{
    justify-content: right;
    flex: 1;
    color: #F0EBD8;
    font-size: 160%;
}

.titleLinks{
    display: block;
    justify-content: right; 
    display: flex;
    gap: 10%;
    width: 12%;
}   

.titleLinks img{
    width: 100%;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

li button {
    display: contents;
}

.sidebar {
    z-index: 1;
    display: flex;
    align-items: center;
    position: fixed;
    flex-direction: column;
    background-color: #1e2733;
    top: 10%;
    left: 0%;
    width: 3.75%;
    height: 100%;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100svh;
    padding: 0;
    margin: 0;
}

section h2 {
    color: #F0EBD8;
    list-style-type: none;
    width: 60%;
    text-align: left;
    margin-top: 30svh;
    font-size: 4.5em;
    z-index: 999;
    font-family: 'Montserrat';
}

section ul {
    list-style-type: none;
    width: 61.5%;
    font-family: Helvetica;
    margin-top: 0%;
    z-index: 999;
}

section li {
    margin-bottom: 1%;
}

section button {
    color: #F0EBD8;
    font-size: 150%;
    text-align: left;
    width: 100%;
}

#filterOverlay {
    display: flex;
    position: fixed;
    background-color: #1a2b42;
    width: 70%;
    height: 100%;
    opacity: 95%;
}

.section,
.parallax {
    background-image: url("img_parallax.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 70%;
    margin-left: 15%;
}

#ifsc {
    background-image: url('./imgs/ifsc.jpeg');
}

#ufsc {
    background-image: url('./imgs/ufsc.jpg');
}

#prog {
    background-image: url('./imgs/prog.jpg');
}

#damas {
    background-image: url('./imgs/damas.webp');
}

.overlay {
    border-radius: 1%;
    border-style: solid;
    border-color: #F0EBD8;
    top: 22.5%;
    left: 25%;
    width: 50%;
    height: 60%;
    background-color: #1a2b42;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    resize: none;
    position: fixed;
    box-sizing: border-box;
    
}

.overlay-content hr{
    width: 50%;
    border-color: #F0EBD8;
}

.overlay-content button {
    position: absolute;
    top: 2.6655%;
    right: 1.5%;
    opacity: 20%;
}

.overlay-content button:hover {
    opacity: 100%;
}

.overlay-content h2 {
    text-align: center; 
    width: 100%;
    font-size: 260%;
    z-index: 999;
    color: #F0EBD8;
    font-family: 'Montserrat';
    margin-bottom: 3.25%;
}

.overlay-content p {
    text-align: left;
    height: 0%;
    width: 90%;
    font-family: Helvetica;
    font-size: 150%;
    padding-top: 0%;
    margin: 0% 0% 0% 5%;
    color: #F0EBD8;
}

.overlay-contentText{
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 40%;
    left: 25%;
    height: 35%;
    width: 50%;
    z-index: 999999999999999999;
    overflow-y: auto;
}

.overlay img {
    top: 28%;
    right: 24.5%;
}

.copied {
    display: none;
    position: fixed;
    top: 80%;
    left: 40%;
    background-color: #233246;
    color: #F0EBD8;
    padding: 0% 2%;
    z-index: 999999999999999999999999999;
    font-family: Consolas;
    font-size: 140%;
}