.topNav{
    background-color: #212121;
    height: 6%;
    width: 100%;
    min-height: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topNav a{
    color: #FBF5E5;
    width: 50%;
    text-align: center;
}